/* CSS Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

/* font-family: 'Merriweather', serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-family: "Merriweather", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* Hero */

/* Service */
.services {
  display: flex;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
