/* CSS Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

/* font-family: 'Merriweather', serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  height: auto;
  display: block;
}

h1 {
  font-family: "Merriweather", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* Hero */

/* Service */
.services {
  max-width: 1240px;
  display: flex;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.service img {
  width: 250px;
  height: 180px;
  align-self: flex-start;
  margin-bottom: 84px;
}

.service h2 {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 700;
}

.service p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.service a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #f78065;
  text-decoration: none;
}
